<h1>What should I tweet?</h1>
<p>How about something similar to all the shit you've tweeted before.</p>

<h2>what's yo name</h2>

<%= form_tag(lookup_users_path, :method => :get) do -%>
  @<input name="username" type="email">

  <button type="submit">is my name on Twitter</button>
<% end -%>
