<h1>wassup <%= @username %>.</h1>
<p>Here's something you'd prolly tweet:</p>

<div class="potential-tweet">the great thing about sleeping on a mattress with no bed frame is lol good luck getting under there monsters</div>
