<h1>wassup <%= @username %>.</h1>
<p>Here's something you'd prolly tweet:</p>

<div class="potential-tweet">the great thing about sleeping on a mattress with no bed frame is lol good luck getting under there monsters</div>

<%= form_tag(lookup_users_path, :method => :get) do -%>
  <button type="submit">get another tweet for</button>
  @<input name="username" type="text" value="<%= @username %>">
<% end -%>

<h2>Some of your recent tweets that were used</h2>

<ul class="past-tweets">
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.text %>
    </li>
  <% end %>
</ul>
